@import './register-form.scss';
@import './events.scss';

.page-content {
  max-width: 960px;
  margin: 0 auto;
}

.add-event-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

#title {
  text-decoration: none;
  color: white;
}
