@import './variables.scss';
@import './register-form.scss';
@import './nav.scss';

html, main, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: $color5;
  font-weight: normal;
}

input {
  font-size: 16px;

  border-width: 0 0 1px 0;

  &:focus {
    outline: none;
  }
}

a {
  &:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }

  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }
}
