#header-logo {
  text-align: center;

  h1 {
    color: $color2;
    font-size: 60px;
  }
}

header {
  hr {
    color: $color1;
  }
}

.sub-navigation {
  position: absolute;
  margin-right: 10px;
  right: 0;
  top: 0;

  ul {
    list-style-type: none;

    li {
      float: left;
      width:60px;

      a {
        vertical-align: middle;
        display: block;
      }
    }
  }
}
