@import './variables.scss';

#login-form-container {
  display: flex;
  margin-top: 200px;
}

.mdl-tabs {
  width: 300px;
  margin: auto;
}

#login-form {
  margin: auto;
}

.submit-button {
  width: 100%;
}
